__pycache__/
**/checkpoints/
*.zip
**/.DS_Store

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download_cyclemanip.py
!assets/_download.py
!assets/fig.png

policy/weights/*

data/*
!data/utils/*


